
<app-date-select [value]="this.descricaoData" [dataEvento]="this.dataBusca" (dateChangeEvent)="changeDateList($event)"></app-date-select>

<div class="col s6 m7" *ngFor="let t of tasks">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <p>{{ t.description }}</p>
        <p>{{ t.date | date: "dd/MM/yyyy" }}</p>
        <p>De: {{ t.hourStart }} Até: {{ t.hourFinish }}</p>
      </div>
      <div class="card-action"> 
        <a [routerLink]="['/task']" [queryParams]="{id: t.id }">editar</a>
      </div>
    </div>
  </div>
</div>